NEXT_PUBLIC_APP_NAME="Next Template"
NEXT_PUBLIC_APP_ENV=local
NODE_ENV="local"
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:9001
NEXT_PUBLIC_API_CLIENT_KEY=""
NEXT_PUBLIC_API_DEV_KEY=""
NEXT_PUBLIC_MERCHANT_ID=""
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_GOOGLE_RECAPTCHA_SITE_KEY=""