# Application
APP_NAME="DilZ Topup"
APP_ENV="local" # development, production
APP_PORT="9001"
APP_URL="http://localhost:9001"

# Database Connection
DB_DRIVER="mysql" # mysql, postgres
DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD=""
DB_NAME="dilz_topup"
DB_SSLMODE="disable" # disable, require

# Redis Connection
REDIS_ADDR="localhost:6379"
REDIS_PASSWORD=""
REDIS_DB=0
REDIS_PREFIX="local-dilz-topup"

# MAIL SERVER
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT="587"
MAIL_USERNAME="3d93204473e4bf"
MAIL_PASSWORD="b1590f110a5243"
MAIL_FROM="noreply@dilztopup.com"

#FE
FE_URL="http://localhost:3000"
FE_DOMAIN=".localhost"
CLIENT_KEY=
DEV_KEY=

# GOOGLE
GOOGLE_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""


# MIDTRANS
MIDTRANS_ENV="sandbox"
MIDTRANS_SECRET_KEY_PRODUCTION=
MIDTRANS_PUBLIC_KEY_PRODUCTION=
MIDTRANS_BASE_URL_PRODUCTION=https://api.midtrans.com
MIDTRANS_SNAP_API_URL_PRODUCTION=https://app.midtrans.com/snap/v1/transactions
MIDTRANS_SECRET_KEY_SANDBOX=
MIDTRANS_PUBLIC_KEY_SANDBOX=
MIDTRANS_BASE_URL_SANDBOX=https://api.sandbox.midtrans.com
MIDTRANS_SNAP_API_URL_SANDBOX=https://app.sandbox.midtrans.com/snap/v1/transactions
MIDTRANS_MERCHANT_ID=

# FONNTE
FONNTE_TOKEN=""

# DILZTIFY
DILZTIFY_API_KEY=
DILZTIFY_DEVICE_ID=

# TELEGRAM
TELEGRAM_BOT_TOKEN=""
