# Application
APP_NAME="DilZ Topup"
APP_ENV="local" # development, production
APP_PORT=":9001"
APP_URL="http://localhost:9001"

# Database Connection
DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD=""
DB_NAME="dilz_topup"
DB_SSLMODE="disable" # disable, require

# Redis Connection
REDIS_ADDR="localhost:6379"
REDIS_PASSWORD=""
REDIS_DB=0
REDIS_PREFIX="local-dilz-topup"

# MAIL SERVER
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT="587"
MAIL_USERNAME="3d93204473e4bf"
MAIL_PASSWORD="b1590f110a5243"
MAIL_FROM="noreply@dilztopup.com"

#FE
FE_URL="http://localhost:3000"
FE_DOMAIN=".localhost"
CLIENT_KEY=
DEV_KEY=

# GOOGLE
GOOGLE_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""

# DIGIFLAZZ
DIGIFLAZZ_ENV="development"
DIGIFLAZZ_USERNAME=""
DIGIFLAZZ_API_KEY_DEVELOPMENT=""
DIGIFLAZZ_API_KEY_PRODUCTION=""

# IAK
IAK_ENV="development"
IAK_API_KEY_DEVELOPMENT=""
IAK_API_KEY_PRODUCTION="" 
IAK_BASE_URL_DEVELOPMENT="https://prepaid.iak.id"
IAK_BASE_URL_PRODUCTION="https://prepaid.iak.dev"

# FONNTE
FONNTE_TOKEN=""

# MIDTRANS
MIDTRANS_ENV="sandbox"
MIDTRANS_SECRET_KEY_PRODUCTION=
MIDTRANS_PUBLIC_KEY_PRODUCTION=
MIDTRANS_BASE_URL_PRODUCTION=https://api.midtrans.com
MIDTRANS_SNAP_API_URL_PRODUCTION=https://app.midtrans.com/snap/v1/transactions
MIDTRANS_SECRET_KEY_SANDBOX=
MIDTRANS_PUBLIC_KEY_SANDBOX=
MIDTRANS_BASE_URL_SANDBOX=https://api.sandbox.midtrans.com
MIDTRANS_SNAP_API_URL_SANDBOX=https://app.sandbox.midtrans.com/snap/v1/transactions
MIDTRANS_MERCHANT_ID=

# IPAYMU
IPAYMU_ENV="sandbox"
IPAYMU_VA_PRODUCTION=
IPAYMU_API_KEY_PRODUCTION=
IPAYMU_BASE_URL_PRODUCTION="https://my.ipaymu.com"
IPAYMU_VA_SANDBOX=
IPAYMU_API_KEY_SANDBOX=
IPAYMU_BASE_URL_SANDBOX="https://sandbox.ipaymu.com"

TELEGRAM_BOT_TOKEN=""
